<style>
main .mobileSignUpFeature {
  margin: 85px auto 85px;
  max-width: 1200px;
  padding: 0 16px;
  text-align: center;
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: -1.25px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media (max-width: 700px) {
  main .mobileSignUpFeature {
    font-size: 32px;
    margin-top: 48px;
  }
}

main .mobileSignUpFeature .btnWrapper {
  margin-top: 24px;
}

main .mobileSignUpFeature .btnWrapper .blackIs {
  padding: 24px 55px;
}

@media (max-width: 700px) {
  main .mobileSignUpFeature .btnWrapper .blackIs {
    padding: 20px 55px;
  }
}
</style>

<div class="mobileSignUpFeature">
  <div loading="show">Show and sell your art with LoCA.</div>

  <div class="btnWrapper">
    <a href="/pages/artist-info" class="btn blackIs" loading="show">
      Sign Up Now
    </a>
  </div>
</div>