<div class="page-width">
 
   <div class="custom-content">
     <div class="custom__item custom__item--text small--one-whole medium-up--one-half">
        {%if section.settings.title != blank %}
        <h2 class="h3">{{section.settings.title}}</h2>
       {%endif%}
        {% if section.settings.code1 != blank %}
       		{{ section.settings.code1 }}
        {%endif%}
     </div>
      <div class="custom__item custom__item--text small--one-whole medium-up--one-half">
        {%if section.settings.title1 != blank %}
        <h2 class="h3">{{section.settings.title1}}</h2>
       {%endif%}
        {% if section.settings.code != blank %}
       		{{ section.settings.code }}
        {%endif%}
     </div>
  </div>
</div>
  {% schema %}
  {
    "name": "Straight Forward",
    "settings": [
		{
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Tilpasset indhold",
        "de": "Personalisierter Content",
        "en": "Custom content",
        "es": "Contenido personalizado",
        "fi": "Mukautettu sisältö",
        "fr": "Contenu personnalisé",
        "hi": "कस्टम सामग्री",
        "it": "Contenuto personalizzato",
        "ja": "コンテンツをカスタムする",
        "ko": "사용자 지정 콘텐츠",
        "nb": "Tilpasset innhold",
        "nl": "Aangepaste content",
        "pt-BR": "Conteúdo personalizado",
        "pt-PT": "Conteúdo personalizado",
        "sv": "Anpassat innehåll",
        "th": "เนื้อหาแบบกำหนดเอง",
        "zh-CN": "自定义内容",
        "zh-TW": "自訂內容"
      }
    },{
      "type": "text",
      "id": "title1",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Tilpasset indhold",
        "de": "Personalisierter Content",
        "en": "Custom content",
        "es": "Contenido personalizado",
        "fi": "Mukautettu sisältö",
        "fr": "Contenu personnalisé",
        "hi": "कस्टम सामग्री",
        "it": "Contenuto personalizzato",
        "ja": "コンテンツをカスタムする",
        "ko": "사용자 지정 콘텐츠",
        "nb": "Tilpasset innhold",
        "nl": "Aangepaste content",
        "pt-BR": "Conteúdo personalizado",
        "pt-PT": "Conteúdo personalizado",
        "sv": "Anpassat innehåll",
        "th": "เนื้อหาแบบกำหนดเอง",
        "zh-CN": "自定义内容",
        "zh-TW": "自訂內容"
      }
    },
{
          "type": "html",
          "id": "code",
          "label": {
            "da": "HTML",
            "de": "HTML",
            "en": "HTML",
            "es": "HTML",
            "fi": "HTML",
            "fr": "HTML",
            "hi": "HTML",
            "it": "HTML",
            "ja": "HTML",
            "ko": "HTML",
            "nb": "HTML",
            "nl": "HTML",
            "pt-BR": "HTML",
            "pt-PT": "HTML",
            "sv": "HTML",
            "th": "HTML",
            "zh-CN": "HTML",
            "zh-TW": "HTML"
          }
        },{
          "type": "html",
          "id": "code1",
          "label": {
            "da": "HTML",
            "de": "HTML",
            "en": "HTML",
            "es": "HTML",
            "fi": "HTML",
            "fr": "HTML",
            "hi": "HTML",
            "it": "HTML",
            "ja": "HTML",
            "ko": "HTML",
            "nb": "HTML",
            "nl": "HTML",
            "pt-BR": "HTML",
            "pt-PT": "HTML",
            "sv": "HTML",
            "th": "HTML",
            "zh-CN": "HTML",
            "zh-TW": "HTML"
          }
        }

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
