{%-liquid
  assign cssFile        =   'page.css' | asset_url

  section 'annoucementBarShowHide'
-%}

<style>
  .mainTemplate {
    position: relative;
    z-index: 1;
  }
  #shopify-section-header {
    background-color: #FFC3BF;
  }

  main.main-content {
    position: relative;
  }

  main.main-content::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 40%;
    background-color: #FFC3BF;
    z-index: 0;
    border-radius: 0 0 0 200px;
  }

  body {
    /* background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 1440 1104' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 -4H1440V1104H140C62.6801 1104 0 1041.32 0 964V-4Z' fill='%23FFC3BF'/%3E%3C/svg%3E"); */
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% -45%; */
  }


  /* @media ( max-width: 2950px ) {
    body {
      background-position: 0% -1500%;
    }
  }

  @media ( max-width: 2900px ) {
    body {
      background-position: 0% -1000%;
    }
  }

  @media ( max-width: 2850px ) {
    body {
      background-position: 0% -700%;
    }
  }

  @media ( max-width: 2800px ) {
    body {
      background-position: 0% -500%;
    }
  }

  @media ( max-width: 2700px ) {
    body {
      background-position: 0% -300%;
    }
  }

  @media ( max-width: 2500px ) {
    body {
      background-position: 0% -200%;
    }
  }

  @media ( max-width:2300px ) {
    body {
      background-position: 0% -150%;
    }
  }

  @media ( max-width:2100px ) {
    body {
      background-position: 0% -100%;
    }
  }

  @media ( max-width:1920px ) {
    body {
      background-position: 0% -50%;
    }
  } */

  /* @media ( max-width:1440px ) {
    body {
      background-position: 0% -24%;
    }
  }

  @media ( max-width:1000px ) {
    body {
      background-position: 0% -6%;
    }
  } */

  .pageContent .gForm_iframe {
    width: 575px;
    background-color: #fff;
  }

  @media ( max-width: 768px ) {
    /* body {
      background-image: url("data:image/svg+xml,%3Csvg width='320' height='816' viewBox='0 0 320 816' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H320V816H140C62.6801 816 0 753.32 0 676V0Z' fill='%23FFC3BF'/%3E%3C/svg%3E");
      background-position: 0% -200%;
    } */

    .pageContent .gForm_iframe {
      width: 90%;
    }
  }

  /* @media ( max-width: 700px ) {
    body {
      background-position: 0% -150%;
    }
  }

  @media ( max-width: 650px ) {
    body {
      background-position: 0% -100%;
    }
  }

  @media ( max-width: 600px ) {
    body {
      background-position: 0% -75%;
    }
  }

  @media ( max-width: 550px ) {
    body {
      background-position: 0% 0%;
    }
  } */

  .pageContent {
    text-align: center;
  }
</style>

<link rel="stylesheet" href="{{ cssFile }}">

<div class="mainTemplate">
  <div class="page-width">
    <div class="mainTitle">
      {%- comment -%}
      <h1>{{ page.title }}</h1>
      {%- endcomment -%}
    </div>

    <div class="pageContent">
      {{ page.content }}

      <iframe class="gForm_iframe" scrolling="no" src="https://docs.google.com/forms/d/e/1FAIpQLSc2VE12P4lLdHE42uMLOg03kHPkkeG7PJ38LFb7EGn_ircT1A/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0" onload="window.parent.scrollTo(0,0);">Loading…</iframe>

      {%- comment -%}
        {% render "customer-fields", form_id: "lXtnjx" %}
      {%- endcomment -%}
    </div>
  </div>
</div>
